<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WeatherReport.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4DBE4A2222E2D12E0059A9BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DBE4A3622E2D1330059A9BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DBE4A4122E2D1330059A9BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
